.top-header {
    background-color: #222;
    height: 50px;
    margin: 0px;
    max-width: 100%;
    display: none;
    @media (min-width: 975px) {
        display: block;
    }
    .top-header-inner {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 975px) {
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 100%;
            .top-left-menu-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center!important;
                padding: 10px;
            }
        }
        .top-left-menu-container {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            select.language-switcher {
                padding: 5px 45px 5px 10px;
                background: transparent;
                border: 1px solid;
                color: white;
                &:focus {
                    outline: none;
                    border: 1px solid white;
                }
                option {
                    color: black;
                    &:hover {
                        background-color: #f3caca;
                    }
                }
            }
            select.currency-switcher {
                padding: 5px 45px 5px 10px;
                background: transparent;
                border: 1px solid white;
                color: white;
                &:focus {
                    outline: none;
                    border: 1px solid white;
                }
                option {
                    color: black;
                    &:hover {
                        background-color: #f3caca;
                    }
                }
            }
            span.cta-text {
                font-family: 'Jost';
                color: white;
                font-size: 16px;
                @media (max-width: 1024px) {
                    display: none;    
                }
            }
        }
        .top-right-menu-container {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;
            @media (max-width:  975px) {
                display: none;
            }
            ul.top-right-links {
                list-style-type: none;
                li {
                    float: right;
                    padding: 0px 15px;
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: 'Jost';
                    }
                }
            }
        }
    }
}

.header-wrapper {
    font-family: "Jost", sans-serif;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    @media (max-width: 975px) {
        display: none;
    }
    .search-container {
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @media (max-width: 768px) {
            display: none;
        }
        .search-container-inner {
            border: 1px solid #22222238;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 3px;
            padding-right: 15px;
            input.search-input {
                border: none!important;
                outline-style: none!important;
                padding: 10px 10px;
                width: 80%;
                &:focus {
                    border: none!important;
                    outline-style: none!important;
                }
            }
            svg {
                font-size: 25px;
                cursor: pointer;
                fill: #22222238;
            }
        }
    }
    .logo-container {
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 50%;
            @media (max-width: 768px) {
                width: 70%;
            }
        }
    }
    .customer-header-links {
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
            display: none;
        }
        .my-account-container svg {
            font-size: 25px;
            margin-right: 10px;
            cursor: pointer;
        }
        .my-wishlist-container {
            gap: 0px!important;
            svg {
            font-size: 25px;
            margin-right: 10px;
            cursor: pointer;
            box-sizing: border-box;
        }
        span {
            position: relative;
            top: -15px;
            right: 5px;
            background-color: #f3caca;
            padding: 0px 7px;
            border-radius: 100px;
            margin-left: -15px;
        }
        }
        .my-shopping-cart-container {
            gap: 0px;
            svg {
            font-size: 25px;
            margin-right: 10px;
            cursor: pointer;
            box-sizing: border-box;
        }
        span {
            position: relative;
            top: -15px;
            right: 5px;
            background-color: #f3caca;
            padding: 0px 7px;
            border-radius: 100px;
            margin-left: -15px;
        }
    }
    .browse-categories-for-mobile {
        display: block;
        @media (min-width: 768px) {
            display: none;
        }
    }
    }
}
.devider-custom-full-width {
    width: 100%;
    height: 1;
    border-top: 1px solid #22222238;
}
.below-header {
    font-family: "Jost"!important;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: auto;
    @media (max-width: 975px) {
        display: none;
    }
    .browse-categories span.text svg {
        display: inline-block;
        margin-left: 3px;
        margin-top: 5px;
        margin-bottom: -3px;
    }
    .additional-links span.text {
        font-size: 16px;
        font-family: 'Jost';
        cursor: pointer;
            svg {
            display: inline-block;
            margin-right: 3px;
            margin-top: 5px;
            margin-bottom: -7px;
            font-size: 23px;
            }
    }
}
.navbar-wrapper {
    display: flex;
    justify-content: center;
    font-family: "Jost"!important;
    font-weight: 500;
    font-size: 14px;
        ul.menu-items {
            list-style: none;
            li {
                display: inline;
                padding: 0px 20px;
            }
            li a {
            color: #222;
            text-decoration: none;
            transition-duration: 0.3s;
            svg {
                display: inline-block;
                margin-left: 3px;
                margin-top: 5px;
                margin-bottom: -3px;
            }
            &:hover {
                color: #f3caca;
                transition-duration: 0.3s;
            }
        }
    }
}

.mobile-header-wrapper {
    display: block;
    margin-top: -1px;
    @media (min-width: 975px) {
        display: none;
    }
    .top-header-mobile {
        background: #222;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        select.language-switcher {
            width: 50%;
            padding: 5px 45px 5px 10px;
            background: transparent;
            border: 1px solid;
            color: white;
            &:focus {
                outline: none;
                border: 1px solid white;
            }
            option {
                color: black;
                &:hover {
                    background-color: #f3caca;
                }
            }
        }
        select.currency-switcher {
            width: 50%;
            padding: 5px 45px 5px 10px;
            background: transparent;
            border: 1px solid white;
            color: white;
            &:focus {
                outline: none;
                border: 1px solid white;
            }
            option {
                color: black;
                &:hover {
                    background-color: #f3caca;
                }
            }
        }
    }
    .middle-header {
        width: 95%;
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        padding: 10px 10px;
        
    }
}